@import './elevations.css';

:root {
  --green: green;
  --results-background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --green: #02a402;
    --results-background: var(--clear-zebra);
  }
}

.button-row {
  display: flex;
  flex-direction: row-reverse;
}

#results {
  background: var(--results-background);
  border-radius: calc(var(--clear-unit) * 2);
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: var(--clear-unit);
  margin-top: calc(var(--clear-unit) * 2);
  padding-left: calc(var(--clear-unit) * 2);
  padding-right: calc(var(--clear-unit) * 2);
  height: calc(100% - var(--clear-unit));
}

.good {
  color: var(--green);
}
.bad {
  color: var(--clear-error);
}

.github-link {
  text-align: right;
  font-size: var(--clear-font-size-label);
}

#history-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: calc(var(--clear-unit) * 3);
}
